.start-menu__container {
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 260px;
}

@media screen and (min-width: 768px) {
  .start-menu__container {
    width: 358px;
  }
}
