.button__delete {
  background-image: url(../../../image/icon/Delete_Button.svg);
  background-position: center;
  background-size: cover;
  background-color: unset;
  border: none;
  outline-color: rgb(0%, 0%, 0%, 0.2);
  position: absolute;

  right: 15px;
  top: 18px;

  margin: 0;
  width: 18px;
  height: 19.3px;

  transition: opacity 0.3s linear;
  display: none;
}

.button__delete:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
