.profile__avatar-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .profile__avatar-container {
    margin-right: 30px;
  }
}