.footer {
  max-width: 880px;
  padding: 48px 19px 36px;
  flex-shrink: 0;
}

@media screen and (min-width: 935px) {
  .footer {
    margin: 0 auto;
    width: 880px;
    padding: 0;
    padding-top: 67px;
    padding-bottom: 60px;
  }
}
